.mats-1, .mats-2, .mats-3{
    background-image: url(/assets/coasters.png);
    background-repeat: no-repeat;
}


.mats-1{
    height: 128px;
    background-position: -5px -5px;
}

.mats-2{
    height: 128px;
    background-position: -10px -143px;
}


#tableDiv{
    margin: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5%;
    
}