
body{
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mats-1, .mats-2, .mats-3{
    background-image: url(/assets/coasters.png);
    background-repeat: no-repeat;
}


.mats-1{
    height: 128px;
    background-position: -5px -5px;
}

.mats-2{
    height: 128px;
    background-position: -10px -143px;
}


#tableDiv{
    margin: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5%;
    
}

.rulesContainer{
    position: relative;
    
    color: antiquewhite;
    margin-top: 10%;
}

.rules{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text{
    text-align: center;
}

#rules_content_image{
    float: right;
    margin: 0 0 0 15px;
}
