
body{
    background-image: url(/public/assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#tableDiv{
    margin: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5%;
    
}

.rulesContainer{
    position: relative;
    
    color: antiquewhite;
    margin-top: 10%;
}

.rules{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text{
    text-align: center;
}

#rules_content_image{
    float: right;
    margin: 0 0 0 15px;
}